<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    
  </head>
  <body>
    <div class="text-center bg-light mb-0">
        <h1>Azure Functions Todo List</h1>
        <p>Use serverless functions!</p>
    </div>
    <div id="app" class="container">
        <div class="row mb-2">
            <input type="text" class="form-control" placeholder="Add todo" 
                v-model="newTask"
                v-on:keydown.enter="createTodo">
        </div>
        <div class="row" v-for="todo in todos" :key="todo.id">

            <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label">
                    <input class="form-check-input" v-model="todo.isCompleted" type="checkbox" @change="updateTodo(todo)">
                    <span v-bind:class="{ completed: todo.isCompleted }">{{todo.taskDescription}}</span>
                </label>
            </div>
            <a v-if="todo.isCompleted" @click="deleteTodo(todo)"><i class="fa fa-trash"></i></a>
                
            </button>
        </div>
        <div class="row" v-if="error">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>